<div class="container">
    <div class="row">
        <div class="col s4 center-align">
            <a href="{{url}}/camera">
                <i class="material-icons">center_focus_weak</i>
            </a>
        </div>
        <div class="col s4 center-align">
            <a href="{{url}}/cargos">
                <i class="material-icons">work</i>
            </a>
        </div>
        <div class="col s4 center-align">
            <a href="{{url}}/stats">
                <i class="material-icons">assessment</i>
            </a>
        </div>
    </div>
</div>
